 if current_user %>
  <h4>Add a task:</h4>
  <%= form_for [@list, @list.tasks.build], remote: true do |f| %>
    <%= f.label :body %>
    <%= f.text_field :body %>
    <%= f.submit %>
  <% end %>
<% end %>
