<h4 class="media-heading">
  <%= link_to (markdown_to_html list.title), [list.title, list] %> 
</h4>
  <small>
    <%= list.user.name %>  
    <br/>
    <%= list.tasks.count %> Tasks
  </small> 
</div>
</div>