<div class="row">
   <div class="col-md-8">
     <h1>List</h1>
     <p class="lead">Active list this week</p>
     <%= render @lists %>
   </div>
   <div class="col-md-4">
   </div>
 </div>
 <div class="row">
  <div class="col-md-8">
    <% @tasks.each do |task| %>
      <div class="media">
        <div class="media-body">
          <h4 class="media-heading">
            <%= link_to task.name, task %>
          </h4>
          <small>
            <%= task.description %>
          </small>
        </div>
      </div>
  </div>
  <div class="col-md-4">
    <% if list(Task.new).create? %>
      <%= link_to "New Task", new_task_path, class: 'btn btn-success' %>
    <% end %>
  </div>
</div>
 